:root{
  --background :#050608;
  --color:#6fc28a;
  --BtnColor:#482867;
  --back2 : #01bed9;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Pixelify Sans", sans-serif;
}
body {
  background: radial-gradient(circle, #1e293b 0%, #0f172a 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
  background-color: #1e293b;
  width: 1250px;
  height:550px ;
  border-radius: 80px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.6), inset 0 2px 5px rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
}
.control{
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.container{
  width: 75%;
  background-color: white;
  outline: 10px solid #0f172a;
  border-radius: 6px;
  background-color: var(--background);
}
.start-game{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* display: none; */
}
.start-game h2{
  font-size: 28px;
  color: var(--color);
  text-align: center;
  transform: scale(0);
  animation: entry 1s linear forwards 1s,
  pulse 0.7s  linear infinite alternate 2s;
}



@keyframes entry {
  0% {
    transform: scale(0);
    
  }

  100% {
    transform: scale(0.95);
  }
}


@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity:.5 ;
  }

  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
.btn {
  background-color: var(--BtnColor);
  width: 200px;
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: var(--color);
  cursor: pointer;
  transition: .3s;
  position: relative;
  top: 10px;
  animation-name: btn;
  animation-timing-function: linear;
  animation-duration:1s ;
  
}
@keyframes btn{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

.choices {
  height: 100%;
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;

}

.choices div {
  width: 130px;
  height: 130px;
  border: 5px solid var(--BtnColor);
  border-radius: 12px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  transform: scale(0);
  transition: 1s;
  animation: popIn .5s linear forwards;
}

.choices div:nth-child(2) {
  animation-delay: .5s;
}

.choices div:last-child {
  animation-delay: 1s;
}

.choices div:hover {
  transform: translateY(-15px) scale(1.05) !important;
}
@keyframes popIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.hangman{
  width: 100%;
  height: 60%;
  background-color: var(--color);
  position: relative;
  padding: 20px;
  display: none;
  transform: scale(0);
  animation: scale 1s linear forwards ;
}
.draw{
  background-color: var(--background);
  position: absolute;
  display: none;
}
.hangman .draw:first-child{
  width: 300px;
  height: 3px;
  bottom:10px;
  left: 50%;
  transform: translateX(-50%);
  
}
.hangman .draw:nth-child(2){
  width: 3px;
  height: 250px;
  bottom:10px;
  left: 50%;
  transform: translateX(-50%);
}
.hangman .draw:nth-child(3){
  width: 125px;
  height: 3px;
  top:45px;
  left: calc(50% + 64px);
  transform: translateX(-50%);
}
.hangman .draw:nth-child(4){
  width: 3px;
  height: 50px;
  top:45px;
  left: calc(50% + 128px);
  transform: translateX(-50%);
}
.hangman .draw:nth-child(5){
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid var(--background);
  background-color: transparent;
  top:95px;
  left: calc(50% + 128px);
  transform: translateX(-50%);
}
.hangman .draw:nth-child(6){
  width: 3px;
  height: 88px; 
  background-color: var(--background);
  top:142px;
  left: calc(50% + 128px);
  transform: translateX(-50%);
}
.hangman .draw:nth-child(7){
  width: 3px;
  height: 50px; 
  background-color: var(--background);
  top:150px;
  left: calc(50% + 109px);
  transform: rotate(45deg);
}
.hangman .draw:nth-child(8){
  width: 3px;
  height: 50px; 
  background-color: var(--background);
  top:150px;
  left: calc(50% + 145px);
  transform: rotate(-45deg);
}
.hangman .draw:nth-child(9){
  width: 3px;
  height: 50px; 
  background-color: var(--background);
  top:220px;
  left: calc(50% + 145px);
  transform: rotate(-45deg);
}
.hangman .draw:nth-child(10){
  width: 3px;
  height: 50px; 
  background-color: var(--background);
  top:220px;
  left: calc(50% + 108px);
  transform: rotate(45deg);
}
.block {
  display: block !important;
}
.container-inputs{
  height: 40%;
  display: flex;
  display: none;
}
.container-inputs .inputs{
  width: 50%;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  transform: scale(0);
  animation: scale 1s linear forwards 1s ;
}
input{
  display: block;
  width: calc(100% / 8);
  border: none;
  border-bottom: 2px solid var(--color);
  padding: 8px 0;
  font-size: 25px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: var(--color);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background-color: transparent;
}
.container-inputs .char{
  width: 50%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  align-content: center;
  transform: scale(0);
  animation: scale 1s linear forwards 2s;
}
.char div{
  width: calc((100% / 7) - 5px);
  padding: 10px;
  margin-right: 5px;
  margin-top: 5px;
  color: white;
  text-align: center;
  background-color: var(--BtnColor);
  cursor: pointer;
  color: var(--color);
  font-size: 19px;
  font-weight: bold;
} 
.char div:hover{
  opacity: .5;
}
@keyframes scale{
  0%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}
.circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  margin: 10px 0;
}

.buttons{
  position: relative;
  width: 100px;
    height: 100px;
    margin: 10px 0;
}
.buttons li{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  position: absolute;

}

.left{
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -15px;
}
.right{
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -15px;
}
.top{
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -15px;
}
.bottom{
  position: absolute;
  bottom:0;
  left: 50%;
  margin-left: -15px;
}
.win , .lose{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  display: none;
}
.win h2  , .lose h2{
  color:var(--color) ;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 35px;
}
.win p , .lose p{
  color: var(--color);
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}
.win div , .lose div{
  background-color: var(--BtnColor);
  padding: 20px;
  width: 200px;
  margin: 10px auto;
  border-radius: 12px;
  color: var(--color);
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  transition: .3s;
  cursor: pointer;
  
}
.win div:hover{
  opacity: .5;
}